.feature-heading {
  line-height: 1;
  font-size: 50px;
  text-align: left;
  font-weight: normal;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.content {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
}